@tailwind base;
@tailwind components;
@tailwind utilities;


/* General styles applied to both themes */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles specifically for dark mode */
@media (prefers-color-scheme: dark) {

  .logo {
    -webkit-filter:invert(1);
        filter:invert(1);
  }

  .nav {
    background-color: #000000;
  }


  :root {
    color: rgba(255, 255, 255, 0.87);

    background: rgb(0,0,0);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 100%);
  }
}
/* Styles specifically for light mode */
@media (prefers-color-scheme: light) {

  .nav {
    background-color: #ffffff;
  }

  :root {
    color: rgba(0, 0, 0, 0.87); /* Adjust text color for light theme */
    background-color: #e6e6e6 !important; /* Light theme background */
  }
}

a {
  font-weight: 500;
  color: #958eaa;
  text-decoration: inherit;
}
a:hover {
  color: #8e93ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-flow: column;
  align-items: center;

}

.mainDiv{
  display: flex;
  align-items: center;
}

.subtitle {
  text-align: center;
  margin-top: -6rem;
  font-family: 'Courier New', Courier, monospace;
}

.subtitle-2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  left: 0;
  position: fixed;
  display: inline-flex;
  padding-left: 10rem;
  padding: .07rem;
  width: 100vw;
  height: 5rem;
}

.logo {
  margin-top: 0;
  width: 12rem;
  transform: translateY(-1rem);
  margin-left: 0;
}

.hero-image {
width: 30rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
